@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(Style_Reset.css);

div#wrap{
	margin: 5px auto;
	padding: 5px;
}

#main {
	/* border:5px solid #f00; */
	padding:20px 0px;
	border-radius:10px;
	background-image: url("../Main/Main_img/Main_BackGround.jpg");
	background-position:-200px;
	background-size: cover;
}
#main div#goods{
	margin: 10px auto;
	/* border: 1px solid #000; */
	border-radius:5px;
	width:700px;
	height: 220px;
	background-color:#457e85;
	text-align: center;
}

div#review{
	margin: 10px auto;
	/* border: 1px solid #f00; */
	border-radius:5px;
	width:700px;
	height: 220px;
	background-color:#f1ede9;
	text-align: center;
}

div#QnA{
	margin: 10px auto;
/* 	border: 1px solid #0f0; */
	border-radius:5px;
	width:700px;
	height: 220px;
	background-color:#909090;
	text-align: center;
}
img#logoImg{
	/* border: 1px solid #f00; */
	width: 114px;
	height: 70px;
}
img{
	margin:10px auto;
	/* border: 1px solid #000; */
	border-radius:15px;
	width:700px;
	height: 200px;
}
