@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(Style_Reset.css);
div#wrap{
	margin: 5px auto;
	padding: 5px;
}
#main div#goods{
	margin: 10px auto;
	border: 1px solid #000;
}

div#review{
	margin: 10px auto;
	border: 1px solid #f00;
}

div#QnA{
	margin: 10px auto;
	border: 1px solid #0f0;
}